#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build/
	rm -rf dist/
	rm -rf *.egg-info/
	rm -rf build-venv/
	find . -name "*.pyc" -delete
	find . -name "__pycache__" -type d -exec rm -rf {} + || true

override_dh_auto_build:
	# Create temporary virtual environment for build
	python3 -m venv build-venv
	build-venv/bin/pip install --upgrade pip setuptools wheel
	build-venv/bin/pip install PyInstaller
	build-venv/bin/pip install -r requirements.txt
	# Build static executable with PyInstaller using spec file
	build-venv/bin/python -m PyInstaller --noconfirm pythonico.spec

override_dh_auto_install:
	# Install the static executable
	install -d debian/pythonico/usr/bin
	install -m 755 dist/pythonico debian/pythonico/usr/bin/pythonico
	
	# Install desktop file and icon
	install -d debian/pythonico/usr/share/applications
	install -m 644 debian/pythonico.desktop debian/pythonico/usr/share/applications/
	
	# Install icons in multiple sizes for better system integration
	install -d debian/pythonico/usr/share/icons/hicolor/16x16/apps
	install -d debian/pythonico/usr/share/icons/hicolor/32x32/apps
	install -d debian/pythonico/usr/share/icons/hicolor/48x48/apps
	install -d debian/pythonico/usr/share/icons/hicolor/128x128/apps
	install -d debian/pythonico/usr/share/icons/hicolor/256x256/apps
	install -m 644 icon/icon-16.png debian/pythonico/usr/share/icons/hicolor/16x16/apps/pythonico.png
	install -m 644 icon/icon-32.png debian/pythonico/usr/share/icons/hicolor/32x32/apps/pythonico.png
	install -m 644 icon/icon-48.png debian/pythonico/usr/share/icons/hicolor/48x48/apps/pythonico.png
	install -m 644 icon/icon-128.png debian/pythonico/usr/share/icons/hicolor/128x128/apps/pythonico.png
	install -m 644 icon/icon.png debian/pythonico/usr/share/icons/hicolor/256x256/apps/pythonico.png

	# Install documentation
	install -d debian/pythonico/usr/share/doc/pythonico
	install -m 644 README.md debian/pythonico/usr/share/doc/pythonico/
	install -m 644 LICENSE debian/pythonico/usr/share/doc/pythonico/copyright

override_dh_installdocs:
	dh_installdocs README.md

override_dh_installchangelogs:
	dh_installchangelogs

.PHONY: override_dh_auto_clean override_dh_auto_build override_dh_auto_install
